:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-beige: #ffe0b2;
  --color-white-beige: #ffd1b3;
  --color-white-blue: #80d6ff;
  --color-dark-blue: #1a237e;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* transition duration */
  --transition-duration: 300ms;
}

/* universal style */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}
.section {
  margin: 50px 50px;
}
h2 {
  color: var(--color-white);
}
h1 {
  color: var(--color-white);
}

/* toggle */
.toggle {
  position: absolute;
  right: 20px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-white);
  display: none;
}

/* nav*/
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  transition: all var(--transition-duration) ease;
  z-index: 1;
}
.navbar.active {
  background-color: var(--color-dark-blue);
  padding: 20px;
  transition: all var(--transition-duration) ease;
}
.navbar__logo {
  display: flex;
}
.navbar__logo__a {
  margin-right: 15px;
}
.navbar__logo__name {
  font-size: var(--font-regular);
}
.navbar__menu {
  display: flex;
}
.menu__item {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: var(--font-small);
  padding: 10px;
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}
.menu__item:hover {
  border: 1px white solid;
}
.navbar__logo__img {
  width: var(--font-medium);
  height: var(--font-medium);
}
.background {
  background-color: var(--color-blue);
  margin: 20px 20px;
}

/* home */
.home {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: var(--color-blue);
}
.home__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}
.home__contact {
  background-color: transparent;
  border: 1px solid var(--color-grey);
  color: var(--color-grey);
  padding: 5px;
  transition: all var(--transition-duration) ease;
  font-weight: var(--weight-semi-bold);
}
.home__contact:hover {
  color: var(--color-white);
  border-color: var(--color-white);
}

/* about */
.about__description {
  text-align: center;
}
.about__description h1 {
  color: var(--color-black);
}
.about__description p {
  color: var(--color-black);
}
.about__skills {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about__skill {
  text-align: center;
}
.about__skill__border {
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  font-size: 80px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  color: var(--color-blue);
}
.about__skill__border i {
  transition: all var(--transition-duration) ease;
}
.about__skill__border i:hover {
  transform: scale(1.2) rotate(20deg);
}
.me {
  display: flex;
  margin-bottom: 15px;
}
.me__school {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.me__description {
  color: var(--color-light-grey);
}

/* skills */
.skills {
  background-color: var(--color-white-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.skills h1 {
  color: var(--color-black);
  font-weight: var(--weight-bold);
}
.skills p {
  color: var(--color-black);
}
.skills__table {
  margin-top: 20px;
  width: 90%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.table__skills,
.table__rest {
  width: 100%;
  text-align: center;
}
.table__skills {
  background-color: var(--color-dark-grey);
  padding: 40px;
}
.rest__tools {
  background-color: var(--color-grey);
  height: 60%;
  padding: 40px;
}
.skills__title {
  margin: 0;
}
.rest__etc {
  background-color: var(--color-light-grey);
  height: 40%;
  padding: 40px;
}
.skills__title {
  color: var(--color-white);
  margin-bottom: 50px;
}
.list__title,
.list__percentage {
  color: var(--color-white);
}
.list__outer {
  width: 80%;
  height: 5px;
  background-color: var(--color-light-grey);
}
.list__inner.html {
  width: 99%;
  height: 5px;
  background-color: var(--color-dark-blue);
}
.list__inner.css {
  width: 70%;
  height: 5px;
  background-color: var(--color-dark-blue);
}
.list__inner.js {
  width: 60%;
  height: 5px;
  background-color: var(--color-dark-blue);
}
.list__inner.react {
  width: 70%;
  height: 5px;
  background-color: var(--color-dark-blue);
}
.list {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.list__item {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.tools__list p {
  color: var(--color-white);
}
.etc__list p {
  color: var(--color-white);
}

/* my work */
.work h1 {
  color: var(--color-black);
}
.work {
  text-align: center;
}
.work__menu {
  margin-top: 30px;
}
.menu__btn {
  background-color: transparent;
  border: 1px solid var(--color-light-grey);
  padding: 5px 15px;
  color: var(--color-black);
  outline: none;
}
.menu__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* contact */
.contact {
  background-color: var(--color-white-blue);
  text-align: center;
  padding: 50px;
}
.contact h3 {
  color: var(--color-white);
}
.contact i {
  color: var(--color-white);
  font-size: 30px;
  cursor: pointer;
  transition: transform var(--transition-duration) ease;
}
.contact i:hover {
  transform: scale(1.2);
  color: var(--color-dark-blue);
}
.contact p {
  color: var(--color-white);
}

/* arrow up */
.arrow {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  border: none;
  padding: 10px;
  opacity: 0;
  transition: opacity var(--transition-duration) ease;
}
.arrow.visible {
  transition: opacity var(--transition-duration) ease;
  opacity: 1;
}

/* width가 768px 이하일때 */
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .toggle {
    display: block;
  }
  .navbar__menu.active {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar__logo {
    position: absolute;
    left: 10px;
  }
}
